{% load static %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- this page contains the code required for a user to change their password. It contains the standard
  layout for all pages on the website with the navigation and footer etc. This page contains a built in
  password change form from the django framework -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Trade Blotter</title>

  <link href="{% static 'PTA/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'PTA/css/style.css' %}" rel="stylesheet" type="text/css">

  <script src="{% static 'PTA/js/jquery.min.js' %}"></script>
  <script src="{% static 'PTA/scripts/time.js' %}"></script>
  <script src="{% static 'PTA/js/expand.js' %}"></script>
  <script src="{% static 'PTA/js/popup.js' %}"></script>

  <script src="{% static 'PTA/js/jquery.min.js' %}"></script>
  <script src="{% static 'PTA/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'PTA/js/scripts.js' %}"></script>

</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-1" id = "logo">

      <img alt="Logo" src="{% static 'PTA/images/Untitled.png' %}" height="55" width="60" align="right" >

    </div>
    <!--************* NAV TABS ******************-->
    <div class="col-md-11" id="nav_tabs">
      <p> </p>
      <ul class="nav nav-tabs">
        <li>
          <a href="{% url 'pta:trade_list' %}">Trades</a>
        </li>
        <li>
          <a href="{% url 'pta:trade_list' '2' %}">Blotter</a>
        </li>
        <li class="dropdown pull-right" class="active">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ user.first_name }} {{ user.last_name }}<strong class="caret"></strong></a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Settings</a>
            </li>
            <li>
              <a href="{% url 'pta:logout_view' %}">Logout</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
  <!--************* NAV TABS END ******************-->
  <div class="row">

    <div class="col-md-12" id="standard">

      <!--*************STANDARD USER SETTINGS**************-->
        <!-- this is the pre-generated form for changing a password in the database -->

      <h4 class="text-muted text-left">
        User Settings - {{ user.first_name }} {{ user.last_name }} ({{ user.username }}) at Institution {{user.profile.institution}}. </h4>
    </div>

<div id="gentext">

    <form method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit">Save changes</button>
    </form>

  </div>

    <!--*************FOOTER**************-->

    <div id="footer">
      <p id="footer">Logged in as {{ user.first_name }} {{ user.last_name }}. Institution: {{user.profile.institution}}. <div id="clockbox"></div></p>

    </div>
</body>
</html>


