{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
    <link rel="stylesheet" href="{% static 'PTA/css/auth.css' %}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
</head>

<body>

<!-- When the user attempts to login to the system and gives incorrect credentials, they are redirected
 to this page. This page displays an error message and then redirects the user back to the initial login
 screen -->

<table style="width:100%" align="center">
    <tr>
        <th></th>
        <th> <br><br><br><br> <img src="{% static 'PTA/images/trlogofull.png' %}" ></th>
        <th></th>
    </tr>
    <tr>
        <td></td>
        <td align="center" style="color: lightgrey">
            <div class="gentext">
                <br>
                <p><h3>System Login</h3>
                <p>
                    {% if b %}
                    <br><br>
                <p style="color: red">Incorrect username or password - please try again. </p>
                {% endif %}
            </div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>


            <div id="error">

                {% block content %}
                <br>
                <br>
                <h2>Your login details are invalid.</h2>
                    <h2 align="center">Please try again</h2>
                <meta http-equiv="refresh" content="2;url=/trade_list/">
                {% endblock %}




            </div>

        </td>
        <td></td>
    </tr>
</table>

</body>
</html>
